body {
  	margin: 0;
}


.header{
  background: #777;
  height:200px;
  width: 100%;
}

 .footer{

 }

header h2 {
	margin: 0;
  	display: inline;
}

/* 
============================================================
				 login-scherm
============================================================
 */


.container-login{
	align:center;
	text-align:center;
	margin: auto;
	width: 30%;
	border: 3px solid #00BE9B;
	background-color: white;
	opacity: 1;
}

.button-login{
	font-size: 	20px;
	width:		160px;
	height:		50px;
	border: 2px solid #00BE9B; /* Green */
}

.button-login:hover{
	font-size: 	20px;
	width:		180px;
	height:		60px;
	background-color: #00BE9B;
}

/* 
============================================================
				menu +  menu-items
============================================================
 */

ul{
	margin: 	0px;
	padding:	0px;
	list-style: none;
}

ul li{
	float: 				left; 		/*toon ze van links naar rechts*/
	width: 				200px; 		/* geef item een breedte */
	height: 			40px; 		/* geef item een hoogte */
	background-color: 	#e6fffa; 	/* de mooie groene kleur*/
	opacity: 			.8;    		/* maak het doorschijnend*/
	line-height:		40px;		/* zet de tekst in het midden vd menu*/
	text-align: 		center;		/* plaats tekst in het midden */
	font-size: 			20px;		/* grootte vd tekst */	
	background-color: 	#99ffeb; 	/* de mooie groene kleur*/

}

ul li a{
	text-decoration: none;
	color:			black;
	display:		block;
}

ul li:hover{
	background-color: #00BE9B;	
}

ul li ul li{
	display: none;
}

ul li:hover ul li{
	display: block
}


