<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>TODSS</display-name>
	<welcome-file-list>
		<welcome-file>Inlogscherm.jsp</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>Controller.Servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BedrijfAanmaken</servlet-name>
		<servlet-class>Controller.Servlets.BedrijfAanmakenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BedrijfAanmaken</servlet-name>
		<url-pattern>/BedrijfAanmaken.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PlanningServlet</servlet-name>
		<servlet-class>Controller.Servlets.PlanningServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlanningServlet</servlet-name>
		<url-pattern>/PlanningServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CursusAanmakenServlet</servlet-name>
		<servlet-class>Controller.Servlets.CursusAanmakenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CursusAanmakenServlet</servlet-name>
		<url-pattern>/CursusAanmakenServlet.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>UserAanmakenServlet</servlet-name>
		<servlet-class>Controller.Servlets.UserAanmakenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserAanmakenServlet</servlet-name>
		<url-pattern>/UserAanmakenServlet.do</url-pattern>
	</servlet-mapping>
	

	<!-- ==================================================================================== 
		CURSISTEN ========================================================================================= -->

	<servlet>
		<servlet-name>CursistServlet</servlet-name>
		<servlet-class>Controller.Servlets.CursistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CursistServlet</servlet-name>
		<url-pattern>/CursistServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CursistToevoegenServlet</servlet-name>
		<servlet-class>Controller.Servlets.CursistToevoegenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CursistToevoegenServlet</servlet-name>
		<url-pattern>/CursistToevoegenServlet</url-pattern>
	</servlet-mapping>


	<!-- ==================================================================================== 
		CURSUSSEN ========================================================================================= -->

	<servlet>
		<servlet-name>CursusServlet</servlet-name>
		<servlet-class>Controller.Servlets.CursusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CursusServlet</servlet-name>
		<url-pattern>/CursusServlet</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>ResultatenServlet</servlet-name>
		<servlet-class>Controller.Servlets.ResultatenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResultatenServlet</servlet-name>
		<url-pattern>/ResultatenServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProfielServlet</servlet-name>
		<servlet-class>Controller.Servlets.ProfielServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfielServlet</servlet-name>
		<url-pattern>/ProfielServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>Controller.Servlets.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/HomeServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/todss/*</url-pattern>
	</servlet-mapping>

</web-app>
</element>